/*
!/.gitignore
!/README.md
!/cue_flac/.download_cover_img.sh
!/cue_flac/.find_no_cover_img_dir.sh
!/cue_flac/.split.sh
!/cue_flac/.split_single.sh
!/cue_flac/queue/freedb.sed
!/cue_flac/queue/makeflaccue.sh
!/cue_flac/queue/performer.sed
!/flac/.cp_for_fat32.sh
